header {
  background: #d33a2c;
  padding: 1em 0;
  position: relative;
  min-height: 6.2375em;
}
nav ul {
  text-align: center;
  font-size: calc(.8em + .6vw);
}

ul li {
  display: inline-block;
  padding: 10px;
  word-spacing: 2px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

span h2:hover {
  color: #000;
  transition: opacity 0.5s;
  animation: animeMenu 10s linear;
}

/* .logo {
  background: #fff;
  float: left;
}  */

span img {
  width: 44px;
  height: 44px;
}

/* Animation on Menu here */
/* animeMenu is the name of animations. I can call anithing */
@keyframes animeMenu {
  0% {
   transform: rotateZ(5deg);
  }
  100% {
   transform: rotateZ(18deg);
  }
 }